<div class="wrapper-content container-fluid table-responsive">
  <p>Table is just a mapping of objects to table rows with</p>
  <table class="table  table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Gender</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let customer of customers; let index = index">
        <tr class="primary-rows"  (click)="onCustomerSelect(customer)">
          <td>{{ customer.Id }}</td>
          <td>{{ customer.Name }}</td>
          <td>{{ customer.Age | number }}</td>
          <td>{{ customer.Sex }}</td>
        </tr>
        <tr class="secondary-rows" *ngIf="customer.Collapse">
          <td colspan="4" class="no-padding">
            <ng-container
              *ngIf="customer.Addresses; then displayAddresses"
            >
            </ng-container>
          </td>
        </tr>
        <ng-template #displayAddresses>
          <table class="inner-table">
            <tr
              class="card"
              *ngFor="let address of customer.Addresses; let index = index"
              (click)="onAddressSelect(customer)"
            >
              <td class="card-body">
                Address {{ index + 1 }}: &nbsp;{{ address.Address }}
              </td>
            </tr>
          </table></ng-template
        >
      </ng-container>
    </tbody>
  </table>
</div>
